<h1>Your Dashboard</h1>

<a href="/dashboard/new-post">Create New Post</a>

{{#if posts.length}}
<div>
    {{#each posts}}
    <article>
        <h2><a href="/post/{{this.id}}">{{this.title}}</a></h2>
        <p>{{this.date_created}}</p>
        <p>{{this.content}}</p>
        <a href="/dashboard/edit-post/{{this.id}}">Edit</a>
        <form action="/dashboard/delete-post/{{this.id}}" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
    </article>
    {{/each}}
</div>
{{else}}
<p>You haven't written any posts yet!</p>
{{/if}}
