<h1>Welcome to the Tech Blog!</h1>

{{#if logged_in}}
    {{#if posts.length}}
<div>
    {{#each posts}}
    <article>
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <p>by {{user.username}} on {{date_created}}</p>
        <p>{{content}}</p>
    </article>
    {{/each}}
</div>
{{else}}
<p>No posts yet!</p>
{{/if}}

{{else}}
  <p> <a href="/users/login">Log in</a> or <a href="/users/signup">sign up</a> to view posts!</p>
{{/if}}